@charset "UTF-8";

:root {
    --primary: #e4ac55;
    --secondary: #8f3b16;
    --dark: #0d0806;
    --light: #f5f5f2;
}

/* * {
    box-shadow: 0 0 0 3px red;
} */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

/* Code for Firefox */
::-moz-selection {
    color: var(--dark);
    background: var(--primary);
}

::selection {
    color: var(--dark);
    background: var(--primary);
}

body {
    font-family: Afacad, sans-serif;
    color: var(--dark);
    background-color: var(--light);
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

header {
    background-color: var(--secondary);
    color: var(--light);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    color: var(--light);
}

.toolbar>* {
    margin: 0 5px;
}

button,
select {
    font-family: Afacad, sans-serif;
    border: 2px solid var(--primary);
    border-radius: 20px;
    padding: 3px 7px;
    cursor: pointer;
}

select {
    color: var(--dark);
    background-color: var(--light);
}

select option:checked {
    background-color: var(--primary);
    color: var(--light);
}

select option:hover,
select option:focus {
    background-color: var(--primary);
    color: var(--light);
}

button {
    color: var(--light);
    background-color: var(--primary);
}

div#scale,
div#tab {
    overflow: visible;
    margin: 1rem;
}